<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Ubike區域即時資訊查詢</title>

    <script src="Scripts/bootstrap.min.js"></script>
    <link href="Content/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <script src="JS/jquery-3.6.3.min.js"></script>
    <script src="JS/vue.min.js"></script>
    <script>
        var urlString = "https://tcgbusfs.blob.core.windows.net/dotapp/youbike/v2/youbike_immediate.json"
        //進行非同步串接
        function getUbike() {
            //1.採用AJAX(非同步架構進行服務請求request 用GET)
            $.ajax(
                //Object setting
                {
                    url: urlString,
                    //請求傳送方法
                    type: 'GET',
                    //非同步call back
                    success: function (data, status, xhr) {
                        //問出回傳值是什麼型態
                        console.log(typeof data);
                        //指派給Vue Data
                        app.ubikeData = data;
                    },
                    error: function (xhr, status, error) {
                        console.log('錯誤')
                    }
                }
            )
        }
        //下載網頁物件之後初始化(串接Ubike API 取回所有即時資訊資料)
        //jQuery Selector(選擇器)
        $(document).ready(
            //事件程序
            function () {
                //串接Ubike服務 採用非同步處理AJAX
                console.log('網頁初始化');
                //透過Timmer去執行function 參數使用function名稱就好 不要加括號 不然會直接Call function而喪失時間功能
                //setTimeout(getUbike, 10000);
                getUbike();
            }
        );
    </script>
</head>
<body>
    <fieldset id="app">
        <legend>Ubike區域即時狀態</legend>
        <div>
            <div>區域</div>
            <input type="text" class="text-primary" v-model="sArea" />
            <button v-on:click="query">查詢</button>
        </div>
        <div>Ubike基座數量:{{ubikeData.length}}</div>
        <div>查詢區域:{{sArea}} 基座數:{{result.length}}</div>
        <table class="table table-dark table-hover" title="區域即時資訊" v-show="isShow">
            <thead>
                <tr class="table-primary">
                    <td>場站名稱</td>
                    <td>區域</td>
                    <td>可用車輛數</td>
                    <td>可停靠數</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="ub in result">
                    <td>{{ub.sna}}</td>
                    <td>{{ub.sarea}}</td>
                    <td>{{ub.sbi}}</td>
                    <td>{{ub.bemp}}</td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    <script>
        var app = new Vue(
            {
                el: '#app',
                data: {
                    ubikeData: [],
                    message: '',
                    sArea: '大安區',
                    result: [],
                    isShow:false
                },
                methods: {
                    //按鈕進行區域離線查詢觸發
                    query: function () {
                        //filter 就像foreach 逐筆傳遞進去比對
                        var result = this.ubikeData.filter(
                            //篩選程序 固定參數架構
                            function (ubike, index, array) {
                                console.log(ubike);
                                return ubike.sarea == app.sArea
                            }
                        )
                        if (result.length) {
                            app.isShow = true;
                        } else {
                            app.isShow = false;
                        }
                        app.result = result;
                        console.log('查詢紀錄數:' + result.length);
                    }
                }
            }
        )
    </script>
</body> 
</html>